<!doctype html>
<html>
<body>
  <div id="head">
    <h1>
      Believe it or not: GitHub 🎉 
    </h1>  
  </div>  
  <div id="data" class="clearfix">
    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">16 year-old issue found in 9 year-old GitHub using 12 year-old Git.</h3>
      <br>
      <p>An issue has been found which was formed even before GitHub was established or Git was released. Take a look at it <a href="https://github.com/cyrusimap/cyrus-sasl/issues/25">here</a></p>
      <br>
      <p>
        <img src="<%= asset_path( 'b1.png' ) %>" alt="Aditya Dancing">
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">A man who had been committing on GitHub continuously for 100 years.</h3>
      <br>
      <p>Ciro Santilli, a humble man has been commiting on GitHub for over <strong>100 years</strong>. Unfortunately, his dedication was not preceived well by others and GitHub decided to hide his contributions. Take a look at his profile <a href="https://github.com/cirosantilli">here</a></p>
      <br>
      <p>
        <img src="<%= asset_path( 'b2.png' ) %>" alt="Aditya Dancing">
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">A man who has lost his GitHub contribution graph.</h3>
      <br>
      <p>Ciro Santilli has lost his contribution graph. Take a look at his mysterious profile <a href="https://github.com/cirosantilli">here</a><br> Luckily, you can take a look at how his graph would look like now using <a href="/contribution">this feature of Repository Hunter</a></p>
      <br>
      <p>
        <img src="<%= asset_path( 'b3.png' ) %>" alt="Aditya Dancing">
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">An username extending vertically indefinitely.</h3>
      <br>
      <p>Usernames can extend vertically infinitely as well. Take a look at his mysterious profile <a href="https://github.com/goodadichat">here</a><br>
      </p>
      <br>
      <p>
        <img src="<%= asset_path( 'b4.png' ) %>" alt="Aditya Dancing">
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">A man has been on GitHub since 1991 with the highest number of followers. </h3>
      <br>
      <p>Take a look at his profile <a href="https://github.com/torvalds">here</a><br>
      </p>
      <br>
      <p>
        <img src="<%= asset_path( 'b5.png' ) %>" alt="Aditya Dancing">
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">You can make a commit on a date before your birth!</h3>
      <br>
      <p>Try out the following command: <code>git commit --date="Wed Feb 16 14:00 2011 +0100"</code><br>
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">GitHub, Inc. was originally known as Logical Awesome LLC</h3>
      <br>
      <p>Check out the present Logical Awesome LLC site
        <a href="http://logicalawesome.com/">here</a> <br>
      </p>
      <br>
      <p>
        <img src="<%= asset_path( 'b7.png' ) %>" alt="Aditya Dancing">
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">Once, GitHub was a victim.</h3>
      <br>
      <p>On 26 March 2015, GitHub fell victim to a massive distributed denial-of-service (DDOS) attack that lasted for more than 118 hours. The attack, which appeared to originate from China, primarily targeted GitHub-hosted user content describing methods of circumventing Internet censorship. <br>
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">Links to Alleged NSA Data on GitHub</h3>
      <br>
      <p>Researchers had pored over dumped data allegedly belonging to a group associated with the NSA. The data, which contains a number of working exploits, was distributed via Dropbox, MEGA, and other file sharing platforms. <br>The files were also linked to from a page on Github, but the company removed it despite having hosted plenty of hacked material in the past. It turns out that removal was not due to government pressure, but because the hacker or hackers behind the supposed breach were asking for cash to release more data. <br>
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">10,000 AWS secret access keys publically available</h3>
      <br>
      <p>Anyone who has your access key has the same level of access to your AWS resources that you do. Consequently, we go to significant lengths to protect your access keys, and in keeping with our shared-responsibility model, you should as well.
      <br> Read the article <a href="https://www.helpnetsecurity.com/2014/03/24/10000-github-users-inadvertently-reveal-their-aws-secret-access-keys/">here</a> <br>
      </p>
      <br>
    </div>

    <div style="display: inline" class="avi">
      <h3 style="font-size:20px">Over 600 private keys on GitHub for you to see.</h3>
      <br>
      <p>Github has killed its search function to safeguard users who were caught out storing keys and passwords in public repositories. 'Users found that quite a large number of users who had added private keys to their repositories and then pushed the files up to GitHub. Searching on id_rsa, a file which contains the private key for SSH logins, returned over 600 results. Projects had live configuration files from cloud services such as Amazon Web Services and Azure with the encryption keys still included. Configuration and private key files are intended to be kept secret, since if it falls into wrong hands, that person can impersonate the user (or at least, the user's machine) and easily connect to that remote machine.' Search links popped up throughout Twitter pointing to stored keys, including what was reportedly account credentials for the Google Chrome source code repository. The keys can still be found using search engines, so check your repositories.
      <br> Read the article <a href="http://thehackernews.com/2013/01/hundreds-of-ssh-private-keys-exposed.html">here</a> <br>
      </p>
      <br>
    </div>

  </div>
  
<a id="forkMe" href="https://github.com/AdiChat/Repository-Hunter">Star me on GitHub</a>
<p id="jj"><a href="https://github.com/AdiChat/Repository-Hunter/wiki/FAQ"><i class="fa fa-question-circle" aria-hidden="true"></i> Need Assistance? View FAQ</a></p>
<p id="jj1"><a href="https://github.com/AdiChat/Repository-Hunter/issues/new"><i class="fa fa-question-circle" aria-hidden="true"></i> Found something suspicious. Open an issue. </a></p>
</body>
</html>